// used for hovering on search results
.three-d-hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-in;

	&:hover {
		transform: scale(1.06);
	}
}

// used for giving the user better ux
.click-animation {
	transition: all 0.15s;

	&:active {
		transform: scale(0.95);
	}
}
